<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>어디서 뭐하지</title>

  <link href="./css/historyc.css" rel="stylesheet">
</head>

<body>
  <div id="jb-container">
    <div id="jb-header">History</div>
    <hr />
    <div id="jb-content">
      <table class="m_table" id="meet_table" align="left">
        <thead>
          <th>번호</th>
          <th>모임 날짜</th>
          <th>모임 이름</th>
          <th>자세히</th>
          <tr>
            <td><a id="meet_num1">01</a></td>
            <td><input type='hidden' id='meet_date1' /></td>
            <td><a id="meet_name1">초등학교 동창 모임</a></td>
            <td><button class="more" id="meet1">more</button></td>
          </tr>
          <tr>
            <td><a id="meet_num2">02</a></td>
            <td><a id="meet_date2">2020-01-01</a></td>
            <td><a id="meet_name2">동국대학교 컴퓨터공학과 학생회</a></td>
            <td><button class="more" id="meet2">more</button></td>
          </tr>
          <tr>
            <td><a id="meet_num3">03</a></td>
            <td><a id="meet_date3">2019-12-31</a></td>
            <td><a id="meet_name3">동국대학교 공과대학 풍물패 한소리 송년회</a></td>
            <td><button class="more" id="meet3">more</button></td>
          </tr>
        </thead>
        <tbody id="meet_body"></tbody>
      </table>
      <script>
        var db = '<%- JSON.stringify(rows) %>';
        alert(db);
        db = db.replace(/"/g,"");     //따옴표 없애기
        var str = db.split(',');      //첫번째: ,를 기준 문자열을 자름으로써 mysql에서 항목별 분류
        var m = str[1].split(':');    //두번째: :를 기준으로 항목별로 나눠진 부분에서 항목 이름과 값을 분류
        document.getElementById('meet_name1').value = m[1];
        var d = str[2].split(':');
        d[1] = d[1].substring(0,10);
        document.getElementById('meet_date1').value = d[1];
        //var a = str[3].split(':');
        //document.getElementById('attendees').value = a[1];
        //var p1 = str[4].split(':');
        //document.getElementById('place1').value = p1[1];
        //var p2 = str[5].split(':');
        //document.getElementById('place2').value = p2[1];
        //var p3 = str[6].split(':');
        //document.getElementById('place3').value = p3[1];

      </script>
    </div>
        <hr/>
    <button class="go_main" onclick="location.href='/'">
      main
    </button>
  </div>

  <!-- Modal -->
  <div class="more_box">
    <div class="inner">
      <div class="details">
      </div>
      <div>

      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#meet1').on('click', function() {
      $('.modal-wrapper').toggleClass('close');
      return false;
    });
  });

  </script>
</body>

</html>
