<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>어디서 뭐하지</title>
  <link href="./css/mainc.css" rel="stylesheet">

</head>

<body>
  <div class="img-overlay">
    <div class="snow">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1536" preserveAspectRatio="xMidYMax slice">
        <g fill="#FFF" fill-opacity=".15" transform="translate(55 42)">
          <g id="snow-bottom-layer">
            <ellipse cx="6" cy="1009.5" rx="5" ry="4.5" />
            <ellipse cx="138" cy="1110.5" rx="5" ry="4.5" />
            <ellipse cx="398" cy="1055.5" rx="5" ry="4.5" />
            <ellipse cx="719" cy="1284.5" rx="5" ry="4.5" />
            <ellipse cx="760" cy="1155.5" rx="5" ry="4.5" />
            <ellipse cx="635" cy="1459.5" rx="5" ry="4.5" />
            <ellipse cx="478" cy="1335.5" rx="5" ry="4.5" />
            <ellipse cx="322" cy="1414.5" rx="5" ry="4.5" />
            <ellipse cx="247" cy="1234.5" rx="5" ry="4.5" />
            <ellipse cx="154" cy="1425.5" rx="5" ry="4.5" />
            <ellipse cx="731" cy="773.5" rx="5" ry="4.5" />
            <ellipse cx="599" cy="874.5" rx="5" ry="4.5" />
            <ellipse cx="339" cy="819.5" rx="5" ry="4.5" />
            <ellipse cx="239" cy="1004.5" rx="5" ry="4.5" />
            <ellipse cx="113" cy="863.5" rx="5" ry="4.5" />
            <ellipse cx="102" cy="1223.5" rx="5" ry="4.5" />
            <ellipse cx="395" cy="1155.5" rx="5" ry="4.5" />
            <ellipse cx="826" cy="943.5" rx="5" ry="4.5" />
            <ellipse cx="626" cy="1054.5" rx="5" ry="4.5" />
            <ellipse cx="887" cy="1366.5" rx="5" ry="4.5" />
            <ellipse cx="6" cy="241.5" rx="5" ry="4.5" />
            <ellipse cx="138" cy="342.5" rx="5" ry="4.5" />
            <ellipse cx="398" cy="287.5" rx="5" ry="4.5" />
            <ellipse cx="719" cy="516.5" rx="5" ry="4.5" />
            <ellipse cx="760" cy="387.5" rx="5" ry="4.5" />
            <ellipse cx="635" cy="691.5" rx="5" ry="4.5" />
            <ellipse cx="478" cy="567.5" rx="5" ry="4.5" />
            <ellipse cx="322" cy="646.5" rx="5" ry="4.5" />
            <ellipse cx="247" cy="466.5" rx="5" ry="4.5" />
            <ellipse cx="154" cy="657.5" rx="5" ry="4.5" />
            <ellipse cx="731" cy="5.5" rx="5" ry="4.5" />
            <ellipse cx="599" cy="106.5" rx="5" ry="4.5" />
            <ellipse cx="339" cy="51.5" rx="5" ry="4.5" />
            <ellipse cx="239" cy="236.5" rx="5" ry="4.5" />
            <ellipse cx="113" cy="95.5" rx="5" ry="4.5" />
            <ellipse cx="102" cy="455.5" rx="5" ry="4.5" />
            <ellipse cx="395" cy="387.5" rx="5" ry="4.5" />
            <ellipse cx="826" cy="175.5" rx="5" ry="4.5" />
            <ellipse cx="626" cy="286.5" rx="5" ry="4.5" />
            <ellipse cx="887" cy="598.5" rx="5" ry="4.5" />
          </g>
        </g>
        <g fill="#FFF" fill-opacity=".3" transform="translate(65 63)">
          <g id="snow-top-layer">
            <circle cx="8" cy="776" r="7" />
            <circle cx="189" cy="925" r="7" />
            <circle cx="548" cy="844" r="7" />
            <circle cx="685" cy="1115" r="7" />
            <circle cx="858" cy="909" r="7" />
            <circle cx="874" cy="1438" r="7" transform="rotate(180 874 1438)" />
            <circle cx="657" cy="1256" r="7" transform="rotate(180 657 1256)" />
            <circle cx="443" cy="1372" r="7" transform="rotate(180 443 1372)" />
            <circle cx="339" cy="1107" r="7" transform="rotate(180 339 1107)" />
            <circle cx="24" cy="1305" r="7" transform="rotate(180 24 1305)" />
            <circle cx="8" cy="8" r="7" />
            <circle cx="189" cy="157" r="7" />
            <circle cx="548" cy="76" r="7" />
            <circle cx="685" cy="347" r="7" />
            <circle cx="858" cy="141" r="7" />
            <circle cx="874" cy="670" r="7" transform="rotate(180 874 670)" />
            <circle cx="657" cy="488" r="7" transform="rotate(180 657 488)" />
            <circle cx="443" cy="604" r="7" transform="rotate(180 443 604)" />
            <circle cx="339" cy="339" r="7" transform="rotate(180 339 339)" />
            <circle cx="24" cy="537" r="7" transform="rotate(180 24 537)" />
          </g>
        </g>
      </svg>
    </div>
    <!--

    <div class="intro-lead-in">
      Where
      <br />Shall
      <br />We Meet?
    </div>
-->
    <!-- Button -->
    <div class="intro-lead-in">
      <a class="trigger">
        Where
        <br />Shall
        <br />We Meet?
      </a>
    </div>

    <div class="inbtn">
      <button class="btn1" onclick="location.href='info'">
        START
      </button>
      <button class="btn1" onclick="location.href='history'">
        HISTORY
      </button>
    </div>

    <!-- Modal -->
    <div class="modal-wrapper">
      <div class="modal">
        <div class="contents">
          <div class="typing-txt">
            <ul>
              <li>약속을 잡을 때마다</li>
              <li>항상 하는 고민이 있죠,</li>
              <li>어디서 만나지? 우리 뭐할까?</li>
              <li>여러분의 결정을 도와드릴게요:)</li>
              <br />
              <li>We always worry</li>
              <li>when we make an appointment.</li>
              <li>Where do we meet? What shall we do?</li>
              <li>We will help you with your decision:)</li>
              <br/>
              <li>from. touchdown</li>
            </ul>
          </div>
          <div class="typing">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <br />
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <br/>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>


  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.trigger').on('click', function() {
        $('.modal-wrapper').toggleClass('open');
        var typingBool = false;
        var typingIdx = 0;
        var liIndex = 0;
        var liLength = $(".typing-txt>ul>li").length;

        // 타이핑될 텍스트를 가져온다
        var typingTxt = $(".typing-txt>ul>li").eq(liIndex).text();
        //liIndex 인덱스로 구분해 한줄씩 가져옴

        typingTxt = typingTxt.split(""); // 한글자씩 잘라 배열로만든다

        if (typingBool == false) { // 타이핑이 진행되지 않았다면
          typingBool = true;
          var tyInt = setInterval(typing, 100); // 반복동작
        }

        function typing() {
          $(".typing ul li").removeClass("on");
          $(".typing ul li").eq(liIndex).addClass("on");
          //현재 타이핑되는 문장에만 커서 애니메이션을 넣어준다.

          if (typingIdx < typingTxt.length) { // 타이핑될 텍스트 길이만큼 반복
            $(".typing ul li").eq(liIndex).append(typingTxt[typingIdx]); // 한글자씩 이어준다.
            typingIdx++;
          } else { //한문장이끝나면
            if (liIndex < liLength - 1) {
              //다음문장으로  가기위해 인덱스를 1증가
              liIndex++;
              //다음문장을 타이핑하기위한 셋팅
              typingIdx = 0;
              typingBool = false;
              typingTxt = $(".typing-txt>ul>li").eq(liIndex).text();

              //다음문장 타이핑전 1초 쉰다
              clearInterval(tyInt);
              //타이핑종료

              setTimeout(function() {
                //1초후에 다시 타이핑 반복 시작
                tyInt = setInterval(typing, 100);
              }, 500);
            }
          }
        }
        return false;
      });
    });
    $(document).ready(function() {
      $('.modal').on('click', function() {
        $('.modal-wrapper').toggleClass('close');
        return false;
      });
    });
  </script>

</body>

</html>
