<!doctype html>
<html>
  <body>
<form id="myform" action="/test" method="post" enctype="application/x-www-form-urlencoded">
  <input type="text" name="user_id" id="mytext" /><p>
  <input type="text" name="user_id" id="mytext1" />
  <input type="submit" id="mysubmit" />
</form>
  </body>
</html>
