@import url('https://fonts.googleapis.com/css?family=Gaegu|Do+Hyeon|Courgette|Solway|Jua&display=swap&subset=korean');

body {
  background-image: url('/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.img-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 20vh;
}

.snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 45s infinite linear;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}

.intro-lead-in {
  font-family: 'Courgette', serif;
  position: relative;
  width: 320px;
  height: 300px;
  top: 35vh;
  font-size: 70px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 50px;
  text-align: left;
  text-shadow: 4px 2px 2px gray;
  z-index: 1;
}

.inbtn {
  position: absolute;
  top: 70vh;
  width: auto;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.btn1 {
  font-family: 'Solway', sans-serif;
  width: 150px;
  height: 60px;
  font-weight: 700;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  padding: 0px;
  margin: 0px 10px 0px 10px;
  background-color: rgba(255, 55, 100, 0.9);
  border: none;
  box-shadow: 2px 2px 2px gray;
}

.btn1:hover {
  background-color: rgba(45, 62, 80, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  z-index: 3;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

.modal-wrapper.close {
  visibility: hidden;
    opacity: 0;
  transition: all 0.25s ease-in-out;
}

.modal {
  z-index: 2;
  width: 500px;
  height: 600px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image:url('/img/card.png');
  background-size: cover;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
  margin-top: 0px;
  opacity: 1;
}

.contents {
  padding-top: 50px;
  text-align: center;
  width:95%;
  height: 90%;
  position: relative;
  top: 30px;
  left:0px;
}

.typing-txt {
  text-align: center;

}

ul {
  list-style: none;
}

.typing-txt ul li{
  margin-top: 15px;
  font-family: 'Gaegu', serif;
  font-size: 25px;
  text-align: center;
}

.typing ul li{
  margin-top: 15px;
  font-family: 'Gaegu', serif;
  font-size: 25px;
  text-align: center;
}

.typing ul li.on {
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  text-align: center;
}



@keyframes cursor {
  0% {
    border-right: 1px solid #fff
  }

  50% {
    border-right: 1px solid #000
  }

  100% {
    border-right: 1px solid #fff
  }
}
