@import url('https://fonts.googleapis.com/css?family=Calistoga|Jua&display=swap&subset=korean');

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /*vh(view height)로 창 크기 조절 시 유동적으로 조절되도록*/
  overflow: hidden
}
.map_div {
  position:relative;
  width:100vw;
  height:100vh;
  overflow:hidden;
}

.btn1 {
  position: absolute;
  top: 90vh;
  left: 45vw;
  bottom: 0;
  width: 180px;
  height: 50px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  z-index: 1;
}

.button1 {
  display: inline-block;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(255, 55, 100);
  color: rgb(255, 255, 255);
  font-family: 'Jua', sans-serif;
  font-size: 25px;
  border: none;
  text-align: center;
  text-decoration: none
}
